<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Categories</title>
  <link rel="stylesheet" href="styles.css">
</head>

<body>
  <%- include("nav") %>

    <div class="categories-container">
      <ul>
        <% categories.forEach((category)=> {%>
          <li>
            <h2>
              <%= category.name %>
            </h2>
            <h3>
              <%= category.description %>
            </h3>
          </li>
          <% }) %>
      </ul>

    </div>

</body>

</html>