<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Games Inventory</title>
  <link rel="stylesheet" href="styles.css">
</head>

<body>
  <%- include("nav") %> <!--Navbar-->
    <div class="hero">
      <h2>Welcome to the INVENTORY!</h2>
      <a href="/items">To check out items click here...</a>
    </div>
</body>



</html>